.business-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .busines-card_inner {
        width: 45%;
        &:nth-child(odd) {
            margin-top: 60px;
        }
    }

    .busines-card-img {
        max-height: 120px;
        max-width: 271px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 0px 10px;
        }
       
    }
    .busines-card-title {
        color: #131313;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 33px;
        margin-top: 7px;
    }

    .busines-card-description {
        color: #AAA;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; 
        margin-top: 11px;
    }
}


@media screen and (max-width: 400px) {

    .business-card {
        flex-direction: column;
    }
    .business-card .busines-card_inner{ 
        width: 100%;
    }
    .business-card .busines-card_inner:nth-child(odd) {
        margin-top: auto;
    }
    .business-card .busines-card-img {
        max-width: 100%;
        max-height: 144px;
    }
    .business-card .busines-card-img img {
        object-fit: cover;
    }
    .business-card .busines-card-title {
        color: #131313;
        font-size: 24px;
        font-weight: 600;
        line-height: 140%; /* 33.6px */
        margin-top: 40px;
    }

    .business-card .busines-card-description {
        color: #AAA;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}