.color-title {

    display: inline;
    font-size: 14px;
    letter-spacing: 2.1px;
    font-weight: 600;
    line-height: 160%; 
    font-style: normal;
    text-transform: uppercase;
    background: linear-gradient(to left, #F43366 0.72%, #3C33EF 103.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.global-description {
    color: #131313;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px; 
    max-width: 490px;
}


.rgb-title{
    display: inline;
    font-size: 170px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    text-transform: uppercase;
    background: linear-gradient(to left, #F43366 0.72%, #3C33EF 103.58%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.black-title {
    color: #000;
    font-size: 170px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: -8.5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    span {
        color: #FFF;
        font-size: 170px;
        font-style: normal;
        font-weight: 800;
        line-height: 150%;
        letter-spacing: -8.5px;
        text-transform: uppercase;
        z-index: 2;
        position: relative;
        margin-left: 5px;
    }
    
}

.global-mini-desc {
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    max-width: 95%;
}
    .btn_book {
        margin-top: 63px;
    }

.miami-walker {
    display: flex;
    justify-content: space-between;
    margin-top: 104px;

    .miami-walker_inner {
        &:first-child {
            width: 40%;
        }
        &:last-child {
            width: 60%;
            img {
                width: 100%;
            }
        }
        
    }

}

.business {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    .business-inner {
        width: 45%;
        &:last-child {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

.project-num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 147px;
}

.project-num-block {
    width: 20%;
    h6 {
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        text-transform: uppercase;
        background: linear-gradient(to left, #5735DC 0.72%, #E53574 103.58%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    p {
        color: #000;
        font-size: 16px;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; 
    }
}

.best-work-head {
    margin-top: 213px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    div {
        &:last-child {
            margin-right: 5px;
        }
    }
}

.black-articles-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h4 {
        color: #fff;
    }
    div {
        &:last-child {
            margin-right: 5px;
            a {
                background: #fff;
                span {
                    color: #000;
                }
            }
        }
    }
}
.articlas-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.black-articles {
    background: #181818;
    box-sizing: border-box;
    padding: 50px 0 150px 0;
    margin-top: 150px;

}

.customer {
    background: #fffbfb;
    padding: 70px 0;
    h6 {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    h4 {
        text-align: center;
        margin: auto;
    }
}
.accardion {
    background: #181818;
    padding: 127px 0;
.accardion-inner {
    display: flex;
    justify-content: space-between;

    .global-description {
        color: white;
        margin-bottom: 10px;
    }
        .accordion-inner-block {
            width: 45%;
        }
    }
}

.project-mind {
    margin-top: 142px;
    div {
        display: flex;
        justify-content: center;
        margin-top: 37px;
    }
    h6 {
        display: flex;
        justify-content: center;
    }
    h4 {
        margin: auto;
        text-align: center;
    }
}

.contact-icon {
    position: relative;
    display: inline-block;

    p {
        position: absolute;
        top: 42%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 2.88px;
    }

    .arrow {
        position: absolute;
        top: 29%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        letter-spacing: 2.88px;
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
}

.messanger {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    margin-top: 86px !important;
    img {
        max-width: 50px;
    }
}

@media screen and (max-width: 1024px) {
    
    .rgb-title {
        font-size: 130px;
    }
    .black-title {
        font-size: 130px;
    }
    .black-title span {
        font-size: 130px;
    }
    .global-mini-desc {
        font-size: 16px;
    }

    .project-num-block h6 {
        font-size: 54px;
    }
    .global-description {
        font-size: 32px;
    }
    .black-articles-top h4 {
        font-size: 32px;
    }
    .accardion .accardion-inner .global-description {
        font-size: 32px;
        line-height: 40px;
    }
    .best-work-head {
        margin-bottom: 20px;
    }
  }


@media screen and (max-width: 400px) {
    .miami-walker {
        flex-direction: column-reverse;
    }
    .miami-walker .miami-walker_inner:first-child {
        width: 100%;
    }
    .miami-walker .miami-walker_inner:last-child {
        width: 100%;
    }
    .rgb-title { 
        color: #FFF;
        font-size: 62.03px;
        font-style: normal;
        font-weight: 800;
        line-height: 150%; /* 93.045px */
        text-transform: uppercase;
        background: none;
        text-align: center;
        position: relative;
        top: -50px;
        display: flex;
        justify-content: center;
        z-index: 10 !important;
    }

    .black-title {
        color: #111;
font-size: 62.03px;
font-style: normal;
font-weight: 800;
line-height: 150%; 
letter-spacing: -2.171px;
text-transform: uppercase;
display: flex;
justify-content: center;
    }
    .black-title span {
        color: #111;
        font-size: 62.03px;
    }

    .global-mini-desc {
        color: #666;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 25.428px;
    }

    .btn_book {
        display: flex;
        justify-content: center;
    }
    .slider-title {
        margin-top: 90px !important;
    }

    .images-block div img {
        width: 84px;
        height: 50px;
    }


    .images-block div {
        
        &:first-child {
            display: none;
        }
        &:last-child {
            display: none;
        }
    }

    .business {
        flex-direction: column;
        margin-top: 50px;

        .btn_book {
            display: flex;
            justify-content: flex-start;
        }
    }

    .global-description {
        font-size: 28px;
        line-height: 35px;
        margin-top: 10px;
    }
    .business .business-inner {
        width: 100%;
    }
    .global-mini-desc {
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        margin-top: 10px;
    }

    .business .business-inner:last-child {
        margin-top: 50px;
    }
    .project-num {
        display: none;
    }
    .best-work-head {
        margin-top: 80px;
        flex-direction: column;
        align-items: flex-start;
    }
    .best-work-head div:last-child {
        margin-right: auto;
        margin-top: 10px;
    }

    .black-articles-top {
        flex-direction: column;
        align-items: flex-start;
    }
    .black-articles-top h4 {
        font-size: 28px;
        line-height: 37px;
    }
    .black-articles-top div:last-child {
        margin-right: auto;
        margin-top: 10px;
    }
    .articlas-block {
        flex-direction: column;
    }

    .accardion .accardion-inner {
        flex-direction: column-reverse;
    }
    .accardion .accardion-inner .accordion-inner-block {
        width: 100%;
        &:first-child {
            margin-top: 40px;
        }
    }

    .contact-icon {
        width: 143px;
        height: 143px;
        margin: auto;
        text-align: center;
        img {
            width: 100%;
        }
    }

    .contact-icon p {
        color: #FFF;
        font-size: 7.152px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 12.813px */
        letter-spacing: 1.647px;
        top: 31%;
        left: 1px;
    }
    .contact-icon .arrow {
        width: 10px;
        height: 10px;
        top: 0;
        left: 0;
    }

    .logo {
        margin-top: 50px !important;
    }
    
}

